<template>
  <div class="home">
    <img alt="Ajudaí" src="../assets/logo.png">
    <p>
        Orci varius natoque penatibus et magnis dis parturient montes.
        Maecenas diam enim, posuere vehicula faucibus a, rutrum euismod
        lectus.
    </p>
    <b-button variant="primary" block={true} size="lg" :to="{name: 'monitor-schools'}">Quero Ajudar!</b-button>
    <b-button variant="outline-success" block={true} size="lg">Sou uma Escola!</b-button>
  </div>
</template>

<style scoped>
.home {
  padding: 0 1em;
}
img {
  display: block;
  max-width: 100%;
}
</style>
