<template>
    <main>
        <h1>Escolha a escola que vc deseja ajudar:</h1>
        <b-form-input v-model="selection"
            list="schools" size="lg" placeholder="Digite o nome da escola..." />
        <datalist id="schools">
            <option v-for="school in schools"
                    :key="school.id" :value="school.name" />
        </datalist>
        <img v-if="selection" class="map" :src="staticMap">
        <b-button variant="success" size="lg" block="true">Confirmar</b-button>
    </main>
</template>

<script>
export default {
  name: "MonitorSchools",
  data() {
    return {
      schools: [
        {
          id: "1234",
          name: "EE Prof Máximo de Moura Santos",
          address: "R. Parioto, 449 - Vila Jacui, São Paulo - SP, 08060-030"
        },
        {
          id: "4321",
          name: "EE Eng Hugo Takahashi",
          address:
            "R. Julião Pereira Machado, 60 - Parque Sonia, São Paulo - SP, 08020-020"
        }
      ],
      selection: ""
    };
  },
  computed: {
    staticMap: function() {
      const apiKey = "AIzaSyCEzncFndobW-H0oHRC1OpJ2R46XkUjSFc";
      return `https://maps.googleapis.com/maps/api/staticmap?size=360x180&markers=${
        this.selection
      }&key=${apiKey}`;
    }
  }
};
</script>

<style scoped>
main {
  padding: 0 1em;
}
h1 {
  font-size: 2rem;
  padding: 0.33rem 0;
}
.map {
  display: block;
  padding: 1em 0;
  max-width: 100%;
}
</style>
